In [1]:
import pandas as pd
import ast
from pandas import json_normalize

In [2]:
df_movies=pd.read_csv('C:/Users/NOVATEC/Desktop/movies_dataset.csv', sep=',', encoding='utf_8')

C:\Users\NOVATEC\AppData\Local\Temp\ipykernel_10864\3009879209.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies=pd.read_csv('C:/Users/NOVATEC/Desktop/movies_dataset.csv', sep=',', encoding='utf_8')

In [3]:
#Vamos a guardar toda la información en un DataFrame para poder aceder a él una vez
#que esté desanidado

df_belongs_to_colection_copy=df_movies['belongs_to_collection']
df_belongs_to_colection=pd.DataFrame(df_belongs_to_colection_copy)

In [4]:
#Convertimos todos los valores a listas de diccionarios para mejor manejo y poder tratar valores nulos

def evaluation(v):
    try:
        return ast.literal_eval(v)
    except (ValueError, SyntaxError):
        return None

df_belongs_to_colection['belongs_to_collection']= df_belongs_to_colection['belongs_to_collection'].apply(lambda x: evaluation(x) if pd.notnull(x) else None)

In [5]:
#Normalizamos el DataFrame 

df_belongs= json_normalize(df_belongs_to_colection['belongs_to_collection'])

df_belongs['id'].fillna(0, inplace=True)
df_belongs['id']=df_belongs['id'].astype(int)

df_belongs=df_belongs.rename(columns={'id':'id_belongs', 'name':'collection_name', 'poster_path':'collection_poster_path', 'backdrop_path':'collection_backdrop_path'})

C:\Users\NOVATEC\AppData\Local\Temp\ipykernel_10864\4121816260.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_belongs['id'].fillna(0, inplace=True)

In [6]:
#Guardamos la columna "production_companies" y lo convertimos a DataFrame


df_pc=df_movies['production_companies']
df_pc2=pd.DataFrame(df_pc)

#Después, aplicamos la misma función para manejar listas de diccionarios y valores nulos

df_pc2['production_companies']=df_pc2['production_companies'].apply(lambda x: evaluation(x) if pd.notnull(x) else None)

#Expandimos las listas 

df_pc3=df_pc2.explode('production_companies')

#Normalizamos los datos
df_production_companies=json_normalize(df_pc3['production_companies'])

#Convertimos a int los id

df_production_companies['id'].fillna(0, inplace=True)
df_production_companies['id']=df_production_companies['id'].astype(int)
df_production_companies=df_production_companies.rename(columns={'name':'company_name','id':'company_id'})

C:\Users\NOVATEC\AppData\Local\Temp\ipykernel_10864\1211960478.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_production_companies['id'].fillna(0, inplace=True)

In [7]:
#Aplicamos el mismo proceso para la columna "production_countries"

df_c=df_movies['production_countries']
df_c1=pd.DataFrame(df_c)
df_c1['production_countries']=df_c1['production_countries'].apply(lambda x: evaluation(x) if pd.notnull(x) else None)
df_c2=df_c1.explode('production_countries')
df_production_countries=json_normalize(df_c2['production_countries'])
df_production_countries=df_production_countries.rename(columns={'iso_3166_1':'country_id','name':'country'})

In [8]:
#Aplicamos el mismo proceso para la columna "spoken_languages"

df_m=df_movies['spoken_languages']
df_m1=pd.DataFrame(df_m)
df_m1['spoken_languages']=df_m1['spoken_languages'].apply(lambda x: evaluation(x) if pd.notnull(x) else None)
df_m2=df_m1.explode('spoken_languages')
df_spoken_languages=json_normalize(df_m2['spoken_languages'])
df_spoken_languages=df_spoken_languages.rename(columns={'iso_639_1':'language_id','name':'language'})

In [9]:
#Rellenamos con 0 los campos nulos de las columnas "revenue" y "budget"

df_movies['revenue'].fillna(0, inplace=True)
df_movies['budget'].fillna(0, inplace=True)

C:\Users\NOVATEC\AppData\Local\Temp\ipykernel_10864\3682250500.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_movies['revenue'].fillna(0, inplace=True)
C:\Users\NOVATEC\AppData\Local\Temp\ipykernel_10864\3682250500.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_movies['budget'].fillna(0, inplace=True)

In [10]:
df_g=df_movies['genres']
df_g1=pd.DataFrame(df_g)
df_g1['genres']=df_g1['genres'].apply(lambda x: evaluation(x) if pd.notnull(x) else None)
df_g2=df_g1.explode('genres')
df_genres=json_normalize(df_g2['genres'])
df_genres['id'].fillna(0, inplace=True)
df_genres['id']=df_genres['id'].astype(int)
df_genres=df_genres.rename(columns={'id':'genre_id','name':'genre_name'})

C:\Users\NOVATEC\AppData\Local\Temp\ipykernel_10864\4055980669.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_genres['id'].fillna(0, inplace=True)

In [11]:
#Concatemos los DataFrames creados con el original sin quitar nada de valores nulos para
#no causar inconsistencia en las filas

df_movies2=pd.concat([df_movies, df_belongs, df_production_companies, df_production_countries, df_spoken_languages, df_genres], axis=1)

In [12]:
#Eliminamos las filas con valores nulos de "release_date"

df_movies2=df_movies2.dropna(subset=['release_date'])

In [13]:
#Convertimos los valores de la columns "release_date" a formato "aaaa-mm-dd"

df_movies2['release_date']=pd.to_datetime(df_movies2['release_date'], errors='coerce')

In [14]:
#Agregamos una nueva columna "release_year" con el año de "release_date"
#para después darle formato de "year"

df_movies2['release_year']=df_movies2['release_date'].dt.year.astype('Int64')

In [15]:
#La columna "budget" tiene strings en ciertas filas, por lo que necesitamos trabajar con ellos
#esta función permite trabajar con ellos y asi darle formato float a los números

def conversion(v):
    try:
        return float(v)
    except ValueError:
        return v

df_movies2['budget'] = df_movies2['budget'].apply(conversion)

In [16]:
#La siguiente función nos permite cambiar los datos de "budget" a float
#porque algunas filas dentro de ella contienen palabras

import numpy as np
def conversion(v):
    try:
        return float(v)
    except ValueError:
        return np.nan  # Usar np.nan para valores que no se pueden convertir


df_movies2['budget'] = df_movies2['budget'].apply(conversion)

In [17]:
#Función que nos permite evitar el error de que el resultado de 0

def retn(r, b):
    if b == 0:
        return 0  
    else:
        return (r/b)
    
df_movies2['return'] = df_movies2.apply(lambda row: retn(row['revenue'], row['budget']), axis=1)

In [18]:
#Eliminamos las columnas que no vamos a utilizar

df_movies2=df_movies2.drop(columns=['belongs_to_collection', 'genres', 'production_companies',
                                    'production_countries', 'spoken_languages', 'video',
                                    'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'])

In [19]:
#Borramos las filas que tengan "vote count" de cero para tener un menor número de datos

df_movies2=df_movies2[df_movies2['vote_count']!=0]

In [20]:
#Borramos las filas que tengas "vote_average" de cero, y con esto logramos tener películas
#que a gente haya visto y calificado

df_movies2=df_movies2[df_movies2['vote_average']!=0]

In [21]:
#Eliminamos las películas que estén en los siguientes idiomas:

l=['English', 'Français', 'Español', 'Deutsch']

#Esto con el fin de seguir filtrando y tener un DataFrame más limpio

df_movies2=df_movies2[df_movies2['language'].isin(l)]

In [22]:
#Ahora vamos a trabajar con el csv "credits"

df_credits=pd.read_csv('C:/Users/NOVATEC/Desktop/credits.csv', sep=',', encoding='utf-8')

In [23]:
#Desanidamos los datos de la columna "cast"

df_ct1=df_credits['cast'].astype(str)
df_ct2=df_ct1.apply(ast.literal_eval)
df_cast=df_ct2.explode().apply(pd.Series)

In [24]:
df_cast=df_cast.rename(columns={'id':'name_id','name':'actor_name'})

In [25]:
dlt=df_cast.columns[8]
df_cast=df_cast.drop(columns=dlt)

In [26]:
#Desanidamos los datos de la columna crew

df_cw=df_credits['crew']
df_cw2=df_cw.apply(ast.literal_eval)
df_crew=df_cw2.explode().apply(pd.Series)

In [27]:
df_crew['id'].fillna(0, inplace=True)
df_crew['id']=df_crew['id'].astype(int)

C:\Users\NOVATEC\AppData\Local\Temp\ipykernel_10864\196875196.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_crew['id'].fillna(0, inplace=True)

In [28]:
df_crew=df_crew.rename(columns={'gender':'creew_gender','id':'crew_id','name':'crew_name'})

In [29]:
dlt2=df_crew.columns[7]
df_crew=df_crew.drop(columns=dlt2)

In [30]:
#Quitamos columnas y filtramos para tener un DataFrame más limpio

df_cast=df_cast.drop(columns=['profile_path'])
df_cast=df_cast[df_cast['order']!=0]
df_cast=df_cast.dropna(subset=['actor_name'])

In [31]:
#De la misma manera con df_crew

df_crew=df_crew.dropna(subset=['crew_name'])
df_crew=df_crew.drop(columns=['profile_path'])
df_crew

,credit_id,department,creew_gender,crew_id,job,crew_name
0,52fe4284c3a36847f8024f49,Directing,2.0,7879,Director,John Lasseter
0,52fe4284c3a36847f8024f4f,Writing,2.0,12891,Screenplay,Joss Whedon
0,52fe4284c3a36847f8024f55,Writing,2.0,7,Screenplay,Andrew Stanton
0,52fe4284c3a36847f8024f5b,Writing,2.0,12892,Screenplay,Joel Cohen
0,52fe4284c3a36847f8024f61,Writing,0.0,12893,Screenplay,Alec Sokolow
...,...,...,...,...,...,...
45473,52fe4776c3a368484e0c8399,Sound,0.0,549356,Original Music Composer,Richard McHugh
45473,52fe4776c3a368484e0c839f,Camera,2.0,58818,Director of Photography,João Fernandes
45474,533bccebc3a36844cf0011a7,Directing,0.0,1085341,Director,Yakov Protazanov
45474,58ebbc26925141281908aa0a,Production,2.0,1195656,Producer,Joseph N. Ermolieff
45475,593e676c92514105b702e68e,Directing,0.0,1344495,Director,Daisy Asquith

In [32]:
df_movies2=df_movies2.drop(['tagline', 'collection_poster_path', 'collection_backdrop_path'], axis=1)